body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0B090A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar-track {
  scrollbar-track-color: rgba(0, 0, 0, 0.13);
  width: 10px;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

*::-webkit-scrollbar {
  z-index: 1;
  scrollbar-track-color: rgba(0, 0, 0, 0.13);
  width: 10px;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border: 1px solid black;
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #660708),
    color-stop(0.72, #A4161A),
    color-stop(0.86, #BA181B)
  );
}